.container {
    position:absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}
/*第一步，创建一个Flexbox的弹性布局容器*/
.container-one {
    display: flex;
    width: 150px;
    height: 150px;
    background: #e4393c;
}
/*第二步，容器的主轴方向 flex-direction*/
.container-two {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 240px;
}
.container-two-one {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 280px;
    height: 200px;
    border: 2px solid rebeccapurple;
}
.container-two-one-son {
    width: 50px;
    height: 50px;
    background: orange;
}
.container-two-two {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 280px;
    height: 200px;
    border: 2px solid darkred;
}
.container-two-two-son {
    width: 50px;
    height: 50px;
    background: orangered;
}
/*第三步 容器是否换行 flex-wrap*/
.container-three {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 900px;
}
.container-three-one {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 600px;
    height: 100px;
    border: 2px solid gold;
}
.container-three-one-son {
    width: 110px;
    height: 98px;
    border: 1px solid green;
}
.container-three-two {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 600px;
    height: 100px;
    border: 2px solid gold;
}
.container-three-two-son {
    width: 110px;
    height: 98px;
    border: 1px solid burlywood;
}
.container-three-three {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    width: 600px;
    height: 100px;
    border: 2px solid gold;
}
.container-three-three-son {
    width: 110px;
    height: 98px;
    border: 1px solid fuchsia;
}
/*第四步 项目在主轴上面的对齐方式 justify-content*/
.container-four {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 1200px;
}
.container-four-one {
    display: flex;
    justify-content: flex-start;
    width: 600px;
    height: 180px;
    border: 2px solid aquamarine;
}
.container-four-two {
    display: flex;
    justify-content: flex-end;
    width: 600px;
    height: 180px;
    border: 2px solid antiquewhite;
}
.container-four-three {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 180px;
    border: 2px solid tomato;
}
.container-four-four {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 180px;
    border: 2px solid royalblue;
}
.container-four-five {
    display: flex;
    justify-content: space-around;
    width: 600px;
    height: 180px;
    border: 2px solid firebrick;
}
.container-four-son {
    width: 100px;
    height: 80px;
    background: darkkhaki;
    font-weight: bold;
}
/*第五步 项目在交叉轴上面的对齐方式 align-items*/
.container-five {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 1200px;
}
.container-five-one {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 600px;
    height: 180px;
    border: 2px solid navy;
}
.container-five-two {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 600px;
    height: 180px;
    border: 2px solid magenta;
}
.container-five-three {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    height: 180px;
    border: 2px solid lawngreen;
}
.container-five-four {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 600px;
    height: 180px;
    border: 2px solid olive;
}
.container-five-five {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 600px;
    height: 180px;
    border: 2px solid palevioletred;
}
.container-five-son {
    width: 100px;
    background: powderblue;
    font-weight: bold;
}
/*第六步 项目在多根轴线上面的对齐方式 align-content*/
.container-six {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 2000px;
}
.container-six-one {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 600px;
    height: 280px;
    border: 2px solid deeppink;
}
.container-six-two {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    width: 600px;
    height: 280px;
    border: 2px solid sienna;
}
.container-six-three {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 600px;
    height: 280px;
    border: 2px solid darkslategray;
}
.container-six-four {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 600px;
    height: 280px;
    border: 2px solid peru;
}
.container-six-five {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    width: 600px;
    height: 280px;
    border: 2px solid darkslateblue;
}
.container-six-six {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    width: 600px;
    height: 280px;
    border: 2px solid lawngreen;
}
.container-six-son {
    width: 130px;
    height: 70px;
    background: darkorange;
    border: 2px solid teal;
    font-weight: bold;
}
/*第七步 项目的排列顺序 order: <ingeter>*/
.container-seven {
    display: flex;
    justify-content: space-between;
    width: 800px;
    height: 300px;
}
.container-seven-one {
    display: flex;
    justify-content: space-around;
    width: 360px;
    height: 240px;
    border: 2px solid cyan;
}
.container-seven-two {
    display: flex;
    justify-content: space-around;
    width: 360px;
    height: 240px;
    border: 2px solid cyan;
}
.container-seven-son {
    width: 60px;
    height: 100px;
    background: darksalmon;
    font-weight: bold;
}
/*第八步 项目的放大属性 flex-grow*/
.container-eight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 600px;
}
.container-eight-one {
    display:flex;
    justify-content: space-between;
    width: 600px;
    height: 120px;
    border: 2px solid rosybrown;
}
.container-eight-two {
    display:flex;
    justify-content: space-between;
    width: 600px;
    height: 120px;
    border: 2px solid mediumaquamarine;
}
.container-eight-three {
    display:flex;
    justify-content: space-between;
    width: 600px;
    height: 120px;
    border: 2px solid goldenrod;
}
.container-eight-son {
    width: 86px;
    height: 116px;
    background: yellowgreen;
    font-weight: bold;
    border: 2px solid darkslategrey;
}
/*第九步 项目的缩小属性 flex-shrink*/
.container-nine {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 300px;
}
.container-nine-one {
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 100px;
    border: 2px solid lightsalmon;
}
.container-nine-son {
    width: 96px;
    height: 96px;
    background: #eabc27;
    border: 2px solid #e4393c;
}
/*第十一步 项目的单独对齐方式 align-self*/
.container-eleven {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 300px;
}
.container-eleven-one {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 600px;
    height: 200px;
    border: 2px solid mediumslateblue;
}
.container-eleven-son {
    width: 100px;
    background: sandybrown;
}